<% include header %>

<div class="ui main container">
    <div class="ui top segment atached">
        <div class="ui header">
            New Task
        </div>
        <form class="ui form" action="/tasks" method="POST">
            <div class="field">
                <label>Title</label>
                <input type="text" name="task[title]" required>
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="task[description]"></textarea>
            </div>
            <input type="submit" class="ui button blue">
        </form>
    </div>
    
</div>


<% include footer %>